*,*:before,*:after{
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;

  // user-select: none;
}
.no-preserve3d *,
.no-preserve3d *:before,
.no-preserve3d *:after{
  -webkit-backface-visibility: visible;
  -moz-backface-visibility: visible;
  backface-visibility: visible;
}

html,body{
  width: 100%;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

body {
    background-color: $bg;
}

h1,h2,h3,h4,h5,h6,
ul,ol{
  padding: 0;
  margin: 0;
}

a,button{
  text-decoration: none;
  &:focus{
    outline: none;
  }
}
img{
  max-width: 100%;
}
