@font-face {
  font-family: 'rubikbold';
  src: url('fonts/rubik-bold-webfont.woff2') format('woff2'),
  url('fonts/rubik-bold-webfont.woff') format('woff'),
  url('fonts/rubik-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'rubikmedium';
  src: url('fonts/rubik-medium-webfont.woff2') format('woff2'),
  url('fonts/rubik-medium-webfont.woff') format('woff'),
  url('fonts/rubik-medium-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'rubikregular';
  src: url('fonts/rubik-regular-webfont.woff2') format('woff2'),
  url('fonts/rubik-regular-webfont.woff') format('woff'),
  url('fonts/rubik-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'rubiklight';
  src: url('fonts/rubik-light-webfont.woff2') format('woff2'),
  url('fonts/rubik-light-webfont.woff') format('woff'),
  url('fonts/rubik-light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

$font-bold:     'rubikbold';
$font-medium:   'rubikmedium';
$font-regular:  'rubikregular';
$font-light:    'rubiklight';

body {
  color: $gray;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
}

h1,h2,h3,h4,h5,h6 {
  color: $brand-dark;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.2;
}

a {
  color: $brand;
}

.type-headline {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 40px;
  line-height: 1.2;
  color: $brand-dark;
}
.type-body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: $gray;
}
.type-body-s {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $gray-light;
}
