$color-brand: #7ECECD;
$color-white: #FFFFFF;
$color-gray-dark: #A6A7AC;
$color-gray: #5A5D67;
$color-gray-light: #8E8E92;
$color-green: #B0FF5E;
$color-red: #EF6567;



// $brand: #00C488;
$brand:#02c0a4;
$brand-dark: #323543;

$gray: #8f919d;
$gray-light: #a8b6c2;;
