
select,
label,
input,
textarea{
  width: 100%;
  display: block;
  &:focus {
    outline: 0;
  }
}


button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}


.form-group {
  margin-bottom: 20px;
}

label {
  color: $gray-light;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: left;
}
.form-control {
  display: block;
  width: 100%;
  height: 50px;
  color: $brand;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: normal;
  background-color: transparent;
  background-image: none;
  border: 0;
  border-bottom: 2px solid $border-input-color;
  border-radius: 0;
  box-shadow: none;
  margin: 0;
  padding: 0;
  text-align: left;
}
textarea.form-control {
  height: auto;
  resize: vertical;
  overflow: auto;
  min-height: 80px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.form-result {
  display: block;
  width: 100%;
  // color: $brand-dark;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  span.time {
    color: $brand-light;
    font-weight: 300;
    font-size: 40px;
    line-height: 1;

  }
}
.form-button {
  display: block;
  background-color: $brand;
  border-radius: 50px;
  border: 0;
  width: 100%;
  padding: 0 30px;
  margin-top: 10px;
  outline: 0;
  transition: color .2s,background-color .2s,border .2s;

  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;

  cursor: pointer;

}
[type="submit"] {
  + [type="reset"] {
    background-color: transparent;
    color: $gray-light;
  }
}

.select-wrapper {
  position: relative;
  margin-bottom: 10px;
  select {
    display: block;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-color: white;
    padding: 15px 15px;
    cursor: pointer;
    border-radius: 5px;
    border: 0;

    color: $brand;
    font-weight: 400;
    font-size: 17px;
    line-height: normal;
    box-shadow: 0 4px 18px 0 rgba(189,208,223,0.26);

    &:after {
      content: '';
      position: absolute;
      z-index: 1;
      right: 16px;
      top: 50%;
      margin-top: -8px;
      display: block;
      width: 16px;
      height: 16px;
      background: url(../img/cd-icon-arrow.svg) no-repeat center center;
      pointer-events: none;
    }
  }
}
