.global-container{
  max-width: 768px;
  height: 100%;
  padding: 20px 20px 60px;
  margin: 0 auto;
}

.page-container{
  position: relative;
}

.note{
  text-align: center;
}

.button-container{
  margin: 40px auto;
  text-align: center;
}
