.page-title{
  position: relative;
  margin-bottom: 40px;

  h1{
    font-size: 30px;
  }

  .page-action{
    position: absolute;
    right: 0; top: 0;
    a{
      width: 44px; height: 44px;
      background-color: $color-brand;
      border-radius: 50%;
      display: block;
    }
  }
}
