.task-page{
  .page-content-outer > *{
    opacity: 0;
    transform: translate3d(0,20px,0);
  }
  &.is-animate{
    .page-content-outer > *{
      opacity: 1;
      transform: translate3d(0,0,0);
      @for $i from 1 through 10{
        &:nth-child(#{$i}){
          $delay: 0.1 + $i * 0.05 + s;
          $duration: .5s;
          transition: opacity $duration $pwa-easing $delay, transform $duration $pwa-easing $delay;
        }
      }
    }
  }
}
